[submodule "services/booking-room"]
	path = services/booking-room
	url = https://github.com/jiemichong/booking-room
[submodule "services/bookings"]
	path = services/bookings
	url = https://github.com/jiemichong/bookings
[submodule "services/stripe"]
	path = services/stripe
	url = https://github.com/jiemichong/stripe
[submodule "services/meeting-rooms"]
	path = services/meeting-rooms
	url = https://github.com/jiemichong/meeting-rooms
[submodule "services/notifications"]
	path = services/notifications
	url = https://github.com/jiemichong/notifications
